body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    background-color: white; 
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline-block;
    margin: 20px;
} 

.banner {
    display: flex;
    justify-content: flex-start;
}
